@use "base/variables" as *;
@use "base/tipografia" as *;
@use "components/buttons" as *;
@use "layout/header";
@use "layout/footer" as *;
@use "utilities/mixins" as * ;
@use "components/cards" as * ;


$color-primario: #fcf8a6;
$color-secundario: #f9ff4aba;
$fuente-principal: "Abel", sans-serif;

 
 .logo{
  width: 150px;
  height: auto;
    
 }
 