.navbar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 150px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar a{
  text-decoration: none;
  color: var(--primario);
  display: inline-block;
  padding: 0px 0;
}

.navbar.bg-dark-subtle{
  background-color: #21252937 !important;
}
.navbar-dark .nav-link{
  color: #f6e575db !important;
}
