
$color-primario: #fcf8a6;
$color-secundario: #f9ff4aba;
$color-acento: #0fb0b3;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   2) Base (body, tipografías)
   ========================= */
body{
  font-family: "Abel", sans-serif;
  color: var(--secundario);

  background-image: url("../assets/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1, h2, h3{
  color: var(--primario);
}

.header-principal{ grid-area: header; }
main{ grid-area: main; } 

footer{
  grid-area: footer;
}

.page-grid{
    grid-template-rows: auto 1fr auto;
     display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  }

  #inicio .contenido-inicio{
  display: grid;
  grid-template-columns: 1fr; /* mobile base */
  gap: 24px;
  align-items: center;
  justify-items: start;
  color: #f0f8ff;
}

@media (min-width: 1024px){
  #inicio .contenido-inicio{
    grid-template-columns: 1fr 1fr;
  }
}